**/node_modules
**/dist
**/.turbo
**/.expo
**/.expo-shared
**/coverage
**/.env*
**/*.tsbuildinfo

.git
.github
.vscode
.husky

docs/*
!docs/marketing/
tasks
tmp

*.jks
*.keystore
*.pem
*.p12
upload_certificate*

*.log
