**/node_modules
**/dist
**/.turbo
**/.expo
**/.expo-shared
**/coverage
**/.env
**/.env.local
**/*.tsbuildinfo

.git
.github
.vscode
.husky

docs
tasks
apps/mobile
packages/ui

*.jks
*.keystore
*.pem
*.p12
upload_certificate*

*.log
