@font-face {
  font-family: "FrauncesPromo";
  src: url("../public/Fraunces-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "NunitoSansPromo";
  src: url("../public/NunitoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NunitoSansPromo";
  src: url("../public/NunitoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "NunitoSansPromo";
  src: url("../public/NunitoSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #fff8f5;
}
